@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-app: 20, 20, 20;
  /* Primary color */
  --primary-55: 255, 209, 26;
  --primary-60: 255, 214, 51;
  --primary-70: 255, 224, 102;
  --primary-80: 255, 235, 153;
  --primary-90: 255, 245, 204;
  --primary-95: 255, 250, 229;
  --primary-97: 255, 252, 240;
  --primary-99: 255, 254, 250;

  /* Dark color */
  --dark-08: 20, 20, 20;
  --dark-10: 26, 26, 26;
  --dark-15: 38, 38, 38;
  --dark-20: 51, 51, 51;
  --dark-25: 64, 64, 64;
  --dark-30: 77, 77, 77;
  --dark-35: 89, 89, 89;
  --dark-40: 102, 102, 102;

  /* Gray color */
  --gray-50: 126, 126, 129;
  --gray-60: 152, 152, 154;
  --gray-70: 179, 179, 179;
  --gray-80: 204, 204, 204;
  --gray-90: 228, 228, 231;
  --gray-95: 241, 241, 243;
  --gray-97: 247, 247, 248;
  --gray-99: 252, 252, 253;

  /* Utility */
  --input: 38, 38, 38;
  --border: 51, 51, 51;
  --shadow-input: 38, 38, 38;
}

@layer components {
  .btn {
    @apply flex items-center justify-center gap-x-1 rounded px-[14px] py-[10px] font-inter text-sm font-medium transition-all duration-200 disabled:pointer-events-none disabled:opacity-50;
  }
  .btn-primary {
    @apply bg-primary-55 text-dark-08 hover:bg-primary-60 hover:shadow-sm hover:shadow-primary-70;
  }
  .btn-outline {
    @apply border border-input bg-dark-08 text-gray-60 hover:bg-dark-10 hover:shadow hover:shadow-shadow-input;
  }

  .textField {
    @apply w-full rounded border-input bg-dark-10 px-4 py-3 font-inter text-sm text-gray-200 outline-none transition-all duration-300 placeholder:text-dark-40 focus:shadow-sm focus:shadow-dark-20 disabled:pointer-events-none disabled:opacity-50;
  }

  .labelField {
    @apply font-inter text-base font-medium text-white;
  }

  .spinner {
    @apply inline-block h-6 w-6 animate-spin rounded-full border-r-2 border-t-2 border-dark-25;
  }
}
* {
  scroll-behavior: smooth;
}

html,
body {
  background-color: rgb(var(--background-app));
  font-family: var(--font-kumbh-sans);
}

@layer utilities {
  .text-error {
    @apply font-inter text-sm font-medium text-red-500;
  }
}
